<div [formGroup]="billingForm">
  <div class="form-control">
    <input type="text" placeholder="Card Number" formControlName="cardNumber">
  </div>

  <div class="form-control">
    <input type="text" placeholder="CVV" formControlName="cvv">
  </div>

  <h5>Expiration</h5>

  <div class="form-control">
    <input matInput type="number" placeholder="Month" formControlName="expirationMonth">
  </div>

  <div class="form-control">
    <input matInput type="number" placeholder="Year" formControlName="exporationYear">
  </div>
</div>