<div class="container">
  <h1>Form Wizard Multi-Steps</h1>
  <form [formGroup]="checkoutForm" (ngSubmit)="SaveFormData()">
    <div class="row">
      <div class="col-6">
        <input type="text" formControlName="lastName" placeholder="Last Name">
      </div>
      <div class="col-6">
          <input type="text" formControlName="firstName" placeholder="First Name">
        </div>
    </div>
 
     
            <div>
              <label style="background:yellow">Billing</label>
                <app-billing (formReady)="formInitialized('billing', $event)"></app-billing>
              <label>Shipping</label>
                <app-shipping (formReady)="formInitialized('shipping', $event)"></app-shipping>
              
            </div>
            <button type="submit" class="btn btn-primary" >Submit</button>
          </form>
        </div>
      
      <h2 class='mat-h2'>Form Value</h2>
        <pre>
          {{checkoutForm.value | json}}
        </pre>
      

    

